<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/homepage.css}" rel="stylesheet" />
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="homepage">
    <h1>Delete Page</h1>
    <div class="delete-container">
        <form th:action="@{/deletefunction}" method="post">
            <label>
                Delete By:
                <select name="deleteby">
                    <option value="id">Id</option>
                    <option value="name">Name</option>
                    <option value="branch">Branch</option>
                    <option value="college">College</option>
                    <option value="city">City</option>
                </select>
            </label>
            <br>
            <label>
                Value:
                <input type="text" name="deleteBy">
            </label>
            <br>
            <input type="submit" value="Delete" class="delete-button">
        </form>
    </div>
    <h3 th:text="${message}" class="output-message"></h3>
</body>

</html>