<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/homepage.css}" rel="stylesheet" />
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="homepage">
    <h1>Find All Page</h1>
    <div class="alldata-container">
        <form th:action="@{/findalldatafunc}" method="post">
            <button type="submit" value="Get All Data" class="findall-button">Get All Data</button>
        </form>

        <table border=1>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>College</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.branch}"></td>
                    <td th:text="${student.college}"></td>
                    <td th:text="${student.city}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>