<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/homepage.css}" rel="stylesheet" />
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="homepage">
       <h1>Main Page</h1>
    <div class="container">
        <a th:href="@{/searchpage}">Search</a>
        <a th:href="@{/uploadpage}">Upload</a>
        <a th:href="@{/update}">Update</a>
        <a th:href="@{/delete}">Delete</a>
        <a th:href="@{/findall}">Find All</a>
    </div>
</body>

</html>